{% load allauth %}
{% if attrs.type == "textarea" %}
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">{% slot label %}{% endslot %}</span>
        </div>
        <textarea class="textarea textarea-bordered h-24" placeholder="Bio"></textarea>
    </label>
{% elif attrs.type == "checkbox" %}
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">{% slot label %}{% endslot %}</span>
            <input type="checkbox" checked="checked" class="checkbox" />
        </label>
    </div>
{% elif attrs.type == "radio" %}
    {% comment %} Todo(kisamoto): If required {% endcomment %}
{% else %}
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">{% slot label %}{% endslot %}</span>
        </div>
        <input {% if attrs.required %}required{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.readonly %}readonly{% endif %}
               {% if attrs.checked %}checked{% endif %}
               {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
               {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
               {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
               {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               type="{{ attrs.type }}"
               class="input input-border w-full ">
    </label>
{% endif %}
