{% load widget_tweaks %}
{% for field in attrs.form %}
    {% if field.name == "remember" %}
        <div class="form-control">
            <label class="label cursor-pointer w-full justify-between">
                <span class="label-text">{{ field.label }}</span>
                {{ field|add_class:"checkbox" }}
            </label>
        </div>
    {% else %}
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">{{ field.label }}</span>
            </div>
            {{ field | add_class:"input input-bordered w-full
            {% if field.errors %}input-error{% endif %}
            " }}
        </label>
    {% endif %}
{% endfor %}
