{% load widget_tweaks %}
{% for field in attrs.form %}
    {% if field.name == "remember" %}
        <div class="form-control">
            <label class="label cursor-pointer w-full gap-4">
                {{ field|add_class:"checkbox" }}
                <span class="label-text">{{ field.label }}</span>
            </label>
        </div>
    {% else %}
        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">{{ field.label }}</span>
            </div>
            {% comment %} djlint:off {% endcomment %}
            {{ field | add_class:"input input-bordered w-full" }}
{% comment %} djlint:on {% endcomment %}
{% if field.help_text %}
<div role="alert" class="alert my-4">
<div class="flex flex-col gap-2 prose prose-sm field-help-text text-base-content">{{ field.help_text }}</div>
</div>
{% endif %}
{% if field.errors %}
<div role="alert" class="alert alert-error my-4">
<div class="flex flex-col gap-2 prose prose-sm">{{ field.errors }}</div>
</div>
{% endif %}
</label>
{% endif %}
{% endfor %}
