{% extends "home/blog_base.html" %}
{% load wagtailcore_tags %}
{% block metadata %}
    <span>{{ page.first_published_at | date }}</span>
    <span>{{ page.location }}</span>
{% endblock metadata %}
{% block sidebar %}
    <a href="{% slugurl "blog" %}" class="flex gap-2">
        {% include "icons/arrow-right-alt.svg" with class="h-6 rotate-180" %}
    All posts</a>
{% endblock sidebar %}
{% block blog_content %}
    {% for block in page.content %}
        {% if block.block_type == 'body' %}{{ block.value | richtext }}{% endif %}
    {% endfor %}
{% endblock blog_content %}
