{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags humanize %}
{% block body_class %}
    h-full
{% endblock body_class %}
{% block content %}
    <div class="md:p-8 flex min-h-full">
        <div class="flex flex-1 flex-col justify-between lg:flex-none lg:w-1/2 p-4 md:p-8 lg:p-16 bg-[#FCFAE3] rounded-2xl md:rounded-r-none relative">
            {% comment %} Put a background image in the top half of the vertical content on smaller screens {% endcomment %}
            {% image page.signup_image original class="absolute inset-0 size-full object-cover rounded-t-2xl md:hidden h-2/3" %}
            <div class="glass md:bg-none md:backdrop-blur-none shadow-none p-4 rounded-2xl flex flex-1 flex-col justify-between  [--glass-blur:20px] [--glass-opacity:40%]">
                {% include "logo/agora.svg" %}
                <h1 class="sr-only">Agora</h1>
                <section class="flex flex-col gap-4 lg:w-3/4">
                    {% if page.tag %}
                        <span class="inline-flex text-sm items-center gap-x-1.5 rounded-md px-2 py-1 font-semibold bg-gray-50 text-gray-900 ring-1 ring-inset ring-gray-200 w-fit uppercase">
                            <svg class="size-1.5 fill-green-500 animate-pulse"
                                 viewBox="0 0 6 6"
                                 aria-hidden="true">
                                <circle cx="3" cy="3" r="3" />
                            </svg>
                        {{ page.tag }}</span>
                    {% endif %}
                    <div class="flex flex-col gap-2">
                        <h1 class="text-2xl lg:text-4xl font-semibold text-secondary">{{ page.waiting_title }}</h1>
                        {% if page.description %}
                            <p class="text-lg lg:text-2xl text-balance text-pretty text-secondary">{{ page.description }}</p>
                        {% endif %}
                    </div>
                    {% if page.show_signup %}
                        <div class="flex flex-col gap-4">
                            <form action="{% pageurl page %}"
                                  method="post"
                                  class="flex flex-col lg:flex-row gap-4">
                                {% csrf_token %}
                                <label class="input input-bordered flex flex-grow items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 16 16"
                                         fill="currentColor"
                                         class="h-4 w-4 opacity-70">
                                        <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                        <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                                    </svg>
                                    {{ form.email }}
                                </label>
                                {{ form.referred_by_code }}
                                <button type="submit" class="group btn btn-primary flex">
                                    Join the waiting list
                                    {% include "icons/arrow-right-alt.svg" with class="transition-transform	translate-x-0 group-hover:translate-x-2 h-6" %}
                                </button>
                            </form>
                            {% if waiting_list_count > 10 %}
                                <div class="avatar-group -space-x-4  rtl:space-x-reverse items-center">
                                    <div class="avatar border-2 last:m-0">
                                        <div class="w-8 bg-primary "></div>
                                    </div>
                                    <div class="avatar border-2 last:m-0">
                                        <div class="w-8 bg-secondary"></div>
                                    </div>
                                    <div class="avatar border-2 last:m-0">
                                        <div class="w-8 bg-primary "></div>
                                    </div>
                                    <div class="last:!ml-2">
                                        <span class="font-semibold">{{ waiting_list_count | intcomma }}</span> people ahead of you
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </section>
                {% comment %} features:
            - No spam and bots as we verify every user
            - Small annual fee to see no advertising
            - We profit share with our content creators (highlight top creators and up-and-coming)
            - Content creators can sell exclusive content and merch (we take 20%)
            - Tip your favorite content creators (we take 10%)
            - No ads, no tracking, no selling your data
            - Connect with other platforms (Threads via ActivityPub, Bluesky via AT Protocol)
            - Use your verified identity across the web (via WebID)
                {% endcomment %}
                <div id="features" class="flex flex-col gap-2">
                    <div class="carousel rounded-box w-full border-secondary border-2 lg:min-h-48">
                        <div id="slide1" class="carousel-item relative w-full flex text-secondary">
                            <div class="bg-secondary w-1/4 py-8 hidden md:flex items-center justify-center">
                                <div class="h-12 w-12 lg:h-20 lg:w-20 bg-secondary-content rounded-s-lg"></div>
                            </div>
                            <div class="flex-grow py-8 pl-8 flex flex-col justify-center gap-4">
                                <h2 class="text-2xl font-semibold">A cool feature</h2>
                                <p>Some information about the cool feature</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-full justify-center gap-2 py-2">
                        <a href="#slide1" class="btn btn-xs">1</a>
                    </div>
                </div>
                <div class="text-xs text-balance">
                    Some footer text and a <a class="link" href="#">link</a>. We should share some info on the <a class="link" href="#">company</a> and <a class="link" href="#">team</a>.
                </div>
            </div>
        </div>
        <div class="relative hidden w-0 flex-1 md:block">
            {% image page.signup_image original class="absolute inset-0 size-full object-cover rounded-r-2xl" %}
        </div>
    </div>
{% endblock content %}
