{% extends "base.html" %}
{% block body_class %}
    h-full
{% endblock body_class %}
{% block content %}
    <form action="{% url "join_waiting_list" %}"
          method="post"
          class="flex flex-col lg:flex-row gap-4">
        {% csrf_token %}
        <label class="input input-bordered flex flex-grow items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 16 16"
                 fill="currentColor"
                 class="h-4 w-4 opacity-70">
                <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
            </svg>
            {{ form.email }}
        </label>
        {{ form.referred_by_code }}
        <button type="submit" class="group btn btn-primary flex">
            Join the waiting list
            {% include "icons/arrow-right-alt.svg" with class="transition-transform	translate-x-0 group-hover:translate-x-2 h-6" %}
        </button>
    </form>
    {% if form.errors %}<div class="text-error mt-2">{{ form.errors }}</div>{% endif %}
{% endblock content %}
