[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
django-environ = "*"
django-extensions = "*"
django-model-utils = "*"
pillow = "*"
nh3 = "*"
cuid2 = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"
djlint = "*"
ansible = "*"

[requires]
python_version = "3.12"
