[Unit]
Description=agora daemon
Requires=agora.socket
After=network.target

[Service]
User=agora
Group=www-data
WorkingDirectory=/opt/agora.gdn
ExecStart=/opt/agora.gdn/.venv/bin/gunicorn \
          --config /opt/agora.gdn/conf/gunicorn/gunicorn.conf.py \
          agora.wsgi

[Install]
WantedBy=multi-user.target