{% load django_vite %}
<div class=" bg-base-200 text-base-content py-10">
    <footer class="container footer sm:footer-horizontal">
        <a href="{% url 'wagtail_serve' '' %}">{% include "logo/agora.svg" with class="h-10 w-fit fill-current" %}</a>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
        {% if not user.is_authenticated and not request.COOKIES.newsletter_signup %}
            <div data-form-location="footer" id="newsletter-form-root"></div>
        {% endif %}
    </footer>
</div>
{% block extra_js %}
    {% vite_asset "src/newsletter.tsx" %}
{% endblock extra_js %}
