<div class=" bg-base-200 text-base-content py-10">
    <footer class="container footer sm:footer-horizontal">
        <a href="{% url 'wagtail_serve' '' %}">{% include "logo/agora.svg" with class="h-10 w-fit fill-current" %}</a>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
        <form>
            <h6 class="footer-title">Newsletter</h6>
            <fieldset class="w-80">
                <label>Enter your email address</label>
                <div class="join">
                    <input type="text"
                           placeholder="name@example.com"
                           class="input input-bordered join-item" />
                    <button class="btn btn-primary join-item">Subscribe</button>
                </div>
            </fieldset>
        </form>
    </footer>
</div>
