{% load static wagtailcore_tags wagtailuserbar django_vite %}
<!DOCTYPE html>
<html lang="en" class="min-h-screen">
    <head>
        {% vite_hmr_client %}
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock title %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock title_suffix %}
        </title>
        {% include "includes/meta.html" %}
        {# Global stylesheets #}
        <link rel="stylesheet"
              type="text/css"
              href="{% vite_asset_url 'src/tailwind.css' %}">
        {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
        {% comment %} Plausible analytics {% endcomment %}
        <script defer data-domain="agora.gdn" src="https://plausible.io/js/script.js"></script>
        {% vite_react_refresh %}
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="{% block body_class %}min-h-screen bg-base-300{% endblock body_class %}">
        {% wagtailuserbar %}
        {% comment %}
    Layout follows the UK Gov design system
    https://design-system.service.gov.uk/styles/page-template/
        {% endcomment %}
        {% block body_start %}
        {% endblock body_start %}
        {% block skip_link %}
        {% endblock skip_link %}
        {% block header %}
            {% include "includes/header.html" %}
        {% endblock header %}
        {% block main %}
            <div class="container">
                {% block before_content %}
                {% endblock before_content %}
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock main %}
        {% block footer %}
        {% endblock footer %}
        {% block body_end %}
        {% endblock body_end %}
        {# Global javascript #}
        {% vite_asset 'src/agora.ts' %}
        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
    </body>
</html>
