{% load static wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock title %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock title_suffix %}
        </title>
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        {% comment %} Open graph SEO stuff
        https://github.com/joshbuchea/HEAD
        {% endcomment %}
        {% if page %}
            <meta property="og:url" content="{% fullpageurl page %}">
        {% endif %}
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static "social/waiting-list.png" %}">
        <meta property="og:image:alt"
              content="Text and logo of Agora encouraging you to try out a new social media platform">
        <meta property="og:description"
              content="{{ page.search_description|default:"A social media platform for grown ups" }}">
        <meta property="og:site_name" content="Agora">
        <meta property="og:locale" content="en_US">
        {% comment %} Twitter card information {% endcomment %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title"
              content="{{ page.seo_title|default:page.title }}">
        <meta name="twitter:description"
              content="{{ page.search_description|default:"A social media platform for grown ups" }}">
        <meta name="twitter:image" content="{% static "social/waiting-list.png" %}">
        <meta property="twitter:image:alt"
              content="Text and logo of Agora encouraging you to try out a new social media platform">
        {% comment %} Disallow Twitter from using the site info for personalization purposes {% endcomment %}
        <meta name="twitter:dnt" content="on">
        {% comment %} Disallow pinning on Pinterest {% endcomment %}
        <meta name="pinterest"
              content="nopin"
              description="Sorry, you can't save from my website!">
        {% comment %} WeChat {% endcomment %}
        <meta itemprop="name" content="{{ page.seo_title|default:page.title }}">
        <meta itemprop="image" content="{% static "social/waiting-list.png" %}">
        <meta name="description"
              itemprop="description"
              content="{{ page.search_description|default:"A social media platform for grown ups" }}">
        {% comment %} Favicon {% endcomment %}
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Agora" />
        <link rel="manifest" href="/site.webmanifest" />
        {% comment %} Extra {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        {# Global stylesheets #}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'brand/tailwind.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'brand/agora.css' %}">
        {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
    </head>
    <body class="{% block body_class %}h-full{% endblock body_class %}">
        {% wagtailuserbar %}
        {% block content %}
        {% endblock content %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'brand/agora.js' %}"></script>
        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
    </body>
</html>
