source_directories:
- {{ media_volume_mount }}
repositories:
  - path: {{ borg_repo }}
    label: borgbase-remote-{{ app_name }}
ssh_command: ssh -i {{ borg_ssh_key_path }}
source_directories_must_exist: true
keep_daily: 7
keep_weekly: 4
keep_monthly: 6
keep_yearly: 1
checks:
    - repository
    - archives
sqlite_databases:
    - name: {{ app_name }}
      path: {{ db_volume_mount }}/db.sqlite3
encryption_passphrase: {{ borg_passphrase }}
